*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Set a light background color */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Set a white background color */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.container h2 {
    margin-bottom: 20px;
}

#fileInput {
    margin-bottom: 20px; /* Add some space below the file input */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add smooth transition */
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

#downloadLink {
    margin-bottom: 20px;
}

#downloadButton {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s; 
    
}

#downloadButton:hover {
    background-color: #eee;
}
